<h1>Welcome User</h1>
<p>Create Your Project with Details of branch </p>


<%= link_to "Register Profile", new_profile_path %><br />
<%= link_to "Add Project Repo", new_project_path %><br />
<%= link_to "My Projects",projects_path%>
